.logo-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #ff00ff, 6, 0.4, 0, 1);
}

.welcome-label {
    -fx-text-fill: #eeeeee;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, #ffffff, 4, 0.2, 0, 0);
}

.logout-button {
    -fx-background-color: linear-gradient(to right, #ff416c, #ff4b2b);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #ff4b2b, 6, 0.4, 0, 0);
}
.manage-profile-button {
    -fx-background-color: linear-gradient(to right, #8e2de2, #4a00e0); /* neon purple to deep electric blue */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #8e2de2, 6, 0.4, 0, 0);
}

.section-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #ff66ff, 8, 0.4, 0, 1);
}

.sidebar-title {
    -fx-text-fill: #ffccff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #cc66ff, 6, 0.4, 0, 0);
    -fx-background-color: rgba(20, 20, 20, 0.5);
    -fx-effect: dropshadow(gaussian, black, 30, 0.3, 0, 0);
    -fx-border-color: rgba(255, 255, 255, 0.15);
}

.list-view {
    -fx-background-color: rgba(30, 30, 30, 0.5);
    -fx-control-inner-background: transparent;
    -fx-text-fill: white;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 10;
}

.game-button {
    -fx-background-color: linear-gradient(to bottom, #00c6ff, #0072ff);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #00c6ff, 8, 0.4, 0, 0);
    -fx-effect: dropshadow(gaussian, #00ffff, 10, 0.5, 0, 0);
        -fx-transition: all 0.3s ease-in-out;
}


.game-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 0.9;
}

.home-background {
    -fx-background-image: url("../images/HomePage.jpg"); /* your new image */
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}


